html, body {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100%;
    margin: 0 auto;
    font-family: "Roboto";
    width: 100%;
    position: relative;
}

.body-wrap {
    overflow: hidden;
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.small-navigation {
    z-index:1000;
    position: absolute;
    top: 10px;
    right: 10px;
    height: 100%;
    text-align: center;
}

.small-navigation a {
    display: inline-block;
    margin: 10px;
    text-align: center;
    color: #333;
}

.small-navigation .active-link {
    text-decoration: underline;
}

.arcs-wrap {
    font-family: "Source Sans Pro";
    position: absolute;
    width: 200px;
    font-weight: 200;
    height: 200px;
    background: rgba(255, 255, 255, 0.80);
    z-index: 1000;
    top: 20%;
    right:10%;
    border-radius: 50%;
    opacity: 1;
    display: none;
    background: rgb(234,234,234); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(234,234,234,1) 0%, rgba(249,249,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(249,249,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(249,249,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(249,249,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(234,234,234,1) 0%,rgba(249,249,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(234,234,234,1) 0%,rgba(249,249,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.arcs-wrap .help-text {
    color: #747474;
    position: absolute;
    width: 200px;
    bottom: -165px;
    left: 50%;
    margin-left: -100px;
    font-weight: 400;
}

.needle {
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -90px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: 300;
}

.needle:before {
    position: absolute;
    content:'';
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #eeeeee;
    z-index: 410;
    top: 83px;
    left: 2px;
    box-shadow: 0 0 2px #666;
}

.needle-top  {
    width:0;
    height:0;
    border-top: 90px solid #da9f4c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    position: relative;
    z-index: 400;
}

.needle-top:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left:0;
    border-top: 90px solid #e7ce74;
    border-right: 8px solid transparent;
}

.needle-bottom {
    width:0;
    height:0;
    border-top: 90px solid silver;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: relative;
}

.needle-bottom:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: -90px;
    right:-8px;
    border-top: 90px solid #969696;
    border-right: 8px solid transparent;
}

.direction {
    width: 50px;
    height: 30px;
    color: #999;
    font-size: 1em;
    text-align: center;
    line-height: 30px;
    position: absolute;
}

.direction.left, .direction.right {
    top: 50%;
    margin-top: -15px;
}

.direction.left {
    left: -10px;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.direction.right {
    right: -10px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.direction.top, .direction.bottom {
    left: 50%;
    margin-left: -25px;
}

.direction.top {
    top: 0;
}

.direction.bottom {
    bottom: 0;
}

.arcs {
    position: absolute;
    left: 50%;
    margin-left: -72px;
    top: 50%;
    margin-top: -74px;
    z-index: 300;
    box-sizing: content-box;
}

.arcs div p {
    position: absolute;
    text-align: center;
    box-sizing: content-box;
    border-radius: 30px;
    text-shadow: 0 0 12px #b2c9ca;
    color: #fff;
}

.arcs p {
    width: 50px;
    height: 50px;
    font-size: 1.4em;
    cursor: pointer;
}

.arcs .link3 i, .arcs .link4 i {
    line-height: 80px;
}

.arcs .link1 i, .arcs .link2 i {
    line-height: 50px;
}

.arcs p {
    box-sizing: content-box;
}

.arcs .link3, .arcs .link4 {
    height: 80px;
}

.arcs .link1, .arcs .link2 {
    width: 80px;
}

.arcs .link1 {
    top: 0;
    left: 50%;
    margin-left: -40px;
}

.arcs .link2 {
    bottom: -5px;
    left: 50%;
    margin-left: -40px;
}

.arcs .link3 {
    right: 0;
    top:50%;
    margin-top: -40px;
}

.arcs .link4 {
    left: 0;
    top: 50%;
    margin-top: -40px;
}

.arcs div{
    box-sizing: content-box;
    display: inline-block;
    min-width: 30px;
    min-height: 30px;
    padding: 0.5em;
    border-radius: 50%;
    z-index: 200;
    border: 50px solid #686967;
}

.page {
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #fff;
    z-index: 800;
    overflow: hidden;
}

.page-0 {
    background: #fffef2;
}

.page-1,.page-2,.page-3 {
    top: 100%;
    left:0;
}

.page-1 {
    background: #f3f3f5;
    color: #dd874d;
}

.page-2 {
    background: #D5D6D4;
    color: #373539;
}

.page-3 {
    background: #f7f1d8;
    color: #333;
}

.main-padding {
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 40px 4% 40px;
}

.main-padding p {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.9;
}

@media screen and (min-width: 768px) {
    .main-padding {
        padding-top: 3%;
    }
}

@media screen and (min-width: 992px) {
    .main-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

h1.big {
    font-size: 4em;
    font-family: "Source Sans Pro";
    font-weight: 200;
    padding-bottom: 40px;
}

.hero {
    text-align: center;
    -webkit-animation: starwarstext 1.5s ease forwards;
    -o-animation: starwarstext 1.5s ease forwards;
    animation: starwarstext 1.5s ease forwards;
}

.hero h1 {
    font-size: 3.4em;
    color: #fd7c37;
    font-family: "Source Sans Pro";
    font-weight: 200;
    -webkit-animation: h1Wobble 8s infinite;
    -o-animation: h1Wobble 8s infinite;
    animation: h1Wobble 8s infinite;
}

@-webkit-keyframes starwarstext {
    0%{-webkit-transform: translateY(400px)}
    80%, 92%{-webkit-transform: translateY(50px); opacity: 1}
    100% {-webkit-transform: translateY(50px);}
}

@-moz-keyframes starwarstext {
    0%{-moz-transform: translateY(400px)}
    80%, 92%{-moz-transform: translateY(50px); opacity: 1}
    100% {-moz-transform: translateY(50px);}
}

@-o-keyframes starwarstext {
    0%{-o-transform: translateY(400px)}
    80%, 92%{-o-transform: translateY(50px); opacity: 1}
    100% {-o-transform: translateY(50px);}
}

@-ms-keyframes starwarstext {
    0%{-ms-transform: translateY(400px)}
    80%, 92%{-ms-transform: translateY(50px); opacity: 1}
    100% {-ms-transform: translateY(50px);}
}

@keyframes starwarstext {
    0%{transform: translateY(400px)}
    80%, 92%{-transform: translateY(50px); opacity: 1}
    100% {transform: translateY(50px);}
}

@-webkit-keyframes h1Wobble {
    0%, 100%{ -webkit-transform: translateY(-3px);}
    50%{-webkit-transform: translateY(3px);}
}

@-moz-keyframes h1Wobble {
    0%, 100%{ -moz-transform: translateY(-3px);}
    50%{-moz-transform: translateY(3px);}
}

@-o-keyframes h1Wobble {
    0%, 100%{ -o-transform: translateY(-3px);}
    50%{-o-transform: translateY(3px);}
}

@-ms-keyframes h1Wobble {
    0%, 100%{ -ms-transform: translateY(-3px);}
    50%{-ms-transform: translateY(3px);}
}

@keyframes h1Wobble {
    0%, 100% {transform: translateY(-3px);}
    50% {transform: translateY(3px);}
}

.hero p {
    font-weight: 300;
    padding-top: 10px;
    color: #d7c9dd;
    color: #bdbdbd;
    -webkit-animation: h1Wobble 4s infinite;
    -o-animation: h1Wobble 4s infinite;
    animation: h1Wobble 4s infinite;
}

@media only screen and (max-device-width: 480px) and (orientation: portrait) {
    .hero p {
        font-size: 7em;
    }
}